# PyCharm related files.
.idea/

# Virtual environment files.
.venv
venv/
ENV/
env/

# Local DB.
db.sqlite3

# Pycaches.
__pycache__/
.pytest_cache/

# Migrations.
migrations/

# VsCode related files.
.vscode

# Environment variables file.
.env

# Local settings file.
stockmanagement_project/settings_dev.py
