# PyCharm.
.idea/

# Virtual env.
.venv
venv/
ENV/
env/

# DB.
db.sqlite3

# Pycaches.
__pycache__/

# Migrations.
migrations/

# VsCode related files.
.vscode

# Environment variables file.
.env

# Local settings file.
stockmanagement_project/settings_dev.py
